.bills {
	--card-inset: 45px;
	height: 100%;
	position: relative;
	box-sizing: border-box !important;
}

.inner {
	display: flex;
	justify-content: center;
}

.circle {
	display: flex;
	padding: var(--space-3);
	border-radius: var(--radius-6);
	background: var(--olive-5);
	color: var(--color);
	z-index: 1;
}
