.radix-themes {
	--accent-panel: var(--color-panel);
	--accent-surface: var(--color-panel);

	--default-font-family: dinn;

	--font-size-3: calc(14px * var(--scaling));
	--font-size-2: calc(12px * var(--scaling));

}

:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {
	--accent-panel: var(--gray-3);
	--accent-surface: var(--gray-3);
}

.radix-themes:where([data-panel-background='translucent']) {
	--color-panel: var(--color-panel-translucent);
}

.radix-themes:where([data-scaling='110%']) {
	--scaling: 1.3
}

body {
	--color-page-background: var(--accent-5);
	background: var(--accent-5);
}
