.root {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 500px;
	justify-content: flex-start;
	border-radius: var(--radius-5);
	background: var(--accent-panel);
	border: 1px solid var(--accent-a5);
	color: var(--color);
	padding: var(--space-4);
	gap: var(--space-4);
	flex-basis: 100px;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.status {
	display: flex;
	flex-direction: row;
	gap: var(--space-1);
	color: var(--indigo-11);
	border-radius: var(--radius-4);
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.items {
	display: flex;
	flex-direction: column;
	flex: 1;
	/* border: 2px solid var(--accent-a6); */
	/* border-radius: var(--radius-4); */
	/* padding: var(--space-4); */
	gap: var(--space-4);
	/* align-items: center; */
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 300px;
	background-image: linear-gradient(to top, transparent 50%, var(--gray-8) 50%);
	background-position: left 0;
	background-repeat: repeat-y;
	background-size: 2px 12px;
	padding-left: var(--space-4);
	/* margin-left: -45px; */
}

.cost {
	color: var(--grass-11);
}

.amount {
	color: var(--red-11);
}

.text {
	color: var(--subcolor);
}

.prices {
	background: linear-gradient(180deg,var(--guideDashedColor),var(--guideDashedColor) 50%,transparent 0,transparent)
}
