.timeRange {
	--card-inset: 45px;

	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: var(--card-inset);
	padding-bottom: var(--card-inset);
	border-radius: var(--radius-4);
	padding: var(--space-4);
	transition: 0.1s ease-in-out;
	cursor: pointer;
	
	&::before {
		content: '';
		position: absolute;
		border-left: 2px solid var(--gray-5);
		height: calc(100% + 3 * var(--space-4));
		top: calc((2 * var(--space-4)) * -1);

		left: calc(((var(--card-inset) / 2)) * -1);
	}

	&::after {
		content: '';
		position: absolute;

		height: var(--card-inset);
		width: var(--card-inset);
		top: calc(-1 * (var(--space-4) / 2));
		left: calc(-1 * (var(--card-inset) / 2));

		border-left: 2px solid var(--gray-5);
		border-bottom: 2px solid var(--gray-5);
		border-bottom-left-radius: var(--radius-5);
	}

	&:hover {
		background: var(--accent-a3);
	}
}

.body {
	--card-inset: 40px;

	position: relative;
	margin-left: var(--card-inset);

	&::before {
		content: '';
		position: absolute;

		height: calc(100% + var(--space-3) + 10px);

		top: calc((10px + var(--space-4)) * -1);
		left: calc(((var(--card-inset) / 2)) * -1);

		border-left: 2px solid var(--gray-5);
	}
}

.event {
	--card-inset: 40px;

	position: relative;
	margin-left: var(--card-inset);

	&::after {
		content: '';
		position: absolute;

		height: calc(100% + (var(--card-inset) / 2) + 5px);
		width: var(--card-inset);

		bottom: calc((var(--card-inset) / 2));
		left: calc(-1 * (var(--card-inset) / 2));

		border-left: 2px solid var(--gray-5);
		border-bottom: 2px solid var(--gray-5);
		border-bottom-left-radius: var(--radius-5);
	}
}

.charges {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: var(--space-4);
}

.charge {
	background: var(--accent-a5);
	z-index: 5;
}
