.timeRange {
	--card-inset: 45px;

	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: var(--card-inset);
	padding-bottom: var(--card-inset);
	box-sizing: border-box;

	&::before {
		content: '';
		position: absolute;
		border-left: 1.5px solid var(--gray-5);
		height: calc(100% + var(--space-3) + 10px);
		top: calc((var(--space-3)) * -1);

		left: calc(((var(--card-inset) / 2)) * -1);
	}

	&::after {
		content: '';
		position: absolute;
		height: var(--card-inset);
		width: calc(var(--card-inset));

		top: calc(-1 * (var(--card-inset) / 2));
		left: calc(((var(--card-inset) / 2)) * -1);

		border-left: 1.5px solid var(--gray-5);
		border-bottom: 1.5px solid var(--gray-5);
		border-bottom-left-radius: var(--radius-5);
	}
}

.body {
	--card-inset: 45px;

	position: relative;
	margin-left: var(--card-inset);

	/* border-radius: var(--radius-4);
	background: var(--accent-4);
	border: 1.5px solid var(--accent-5); */

	/* box-sizing: border-box; */

	&::before {
		content: '';
		/* box-sizing: border-box; */
		position: absolute;
		border-left: 1.5px solid var(--gray-5);
		height: calc(100% + var(--space-3) + 10px);
		top: calc((10px + var(--space-3)) * -1);

		left: calc(((var(--card-inset) / 2)) * -1);
	}
}

.event {
	--card-inset: 45px;

	position: relative;
	margin-left: var(--card-inset);

	&::after {
		content: '';
		position: absolute;
		height: calc(100% + (var(--card-inset) / 2) + 5px);
		width: calc(var(--card-inset) + var(--space-3));

		bottom: calc((var(--card-inset) / 2));
		left: calc(((var(--card-inset) / 2)) * -1);

		border-left: 1.5px solid var(--gray-5);
		border-bottom: 1.5px solid var(--gray-5);
		border-bottom-left-radius: var(--radius-5);
	}
}

.charges {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: var(--space-4);
}

.charge {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: var(--accent-5);
	border-radius: var(--radius-4);
	padding: var(--space-3);
	gap: var(--space-2);
}
