.root {
  display: flex;
  flex-direction: row;
	gap: var(--space-3);
	padding: 10px 10px 10px 10px;
	border-radius: var(--radius-5);
	transition: background 0.1s ease-in-out;
}

.root:hover {
	background: var(--accent-a2);
}

.header {
  display: flex;
  flex-direction: column;
	justify-content: center;
	white-space: nowrap;
}

.status {
	display: inline-flex;
	align-items: center;
	/* word-wrap: normal;
	white-space: normal; */
	gap: 5px;
	overflow: auto;
	color: var(--secondary-text);
}

.indicator {
	display: inline-flex;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: var(--green-9);
	margin-left: -12px;
	border: 2px solid var(--color-panel);
}

.avatarContainer {
	display: flex;
	align-items: flex-end;
}
