.root {
	display: flex;
	flex: 1;
	flex-direction: column;
	background: var(--accent-surface);
	border-radius: var(--radius-5);
}

.listItem {
	display: flex;
	justify-content: space-between;
	padding: var(--space-1) var(--space-4) var(--space-1) var(--space-4) ;
	border-radius: var(--radius-3);
	color: var(--gray-a11);
	text-decoration: none;
	height: var(--space-6);
	&:hover {
		background: var(--accent-a3);
	}
}

.unlisted {
	position: absolute;
	min-height: 10px;
	width: 100%;
	top: -10px;
}

.dragging {
	background: var(--accent-a3);
}
