.root {
	display: flex;
	flex-basis: calc(85px * var(--scaling));
	position: relative;
	box-sizing: border-box;
	background: var(--accent-a3);
	border-radius: var(--radius-2);
	padding-left: var(--space-2);
	max-height: var(--space-6);
	overflow: hidden;
	align-items: center;
	& > span {
		display: flex;
		align-items: center;
	}
}

.input {
	display: flex;
	align-items: center;
	font-family: dinn;
	font-size: var(--font-size-3);
	flex: 1;
	background: transparent;
	outline: none;
	border: none;
	width: 100% !important;
	color: var(--accent-a11);
	padding: 0;
}

.control {
	display: flex;
	flex-direction: column;
	/* border-left: calc(1px * var(--scaling)) solid var(--accent-a5); */


	/* &:first-child {
		padding-top: calc(1px * var(--scaling))
	} */
}

.trigger {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--space-1);
	background: transparent;
	outline: none;
	border: none;
	color: var(--accent-10);

	&:hover {
		background: var(--accent-a3);
	}

	&:first-child {
		padding-top: calc(2px * var(--scaling))
	}

	&:last-child {
		padding-bottom: calc(2px * var(--scaling))
	}
}
