.bills {
	--card-inset: 45px;

	height: 100%;
	position: relative;
	/* margin: 0px var(--card-inset); */
	margin-left: var(--card-inset);
	margin-right: 10px;
	box-sizing: border-box !important;

	/* & > div {
		align-items: center;
		overflow-y: scroll;
	} */
}

.inner {
	display: flex;
	justify-content: center;
}

.circle {
	display: flex;
	padding: var(--space-3);
	border-radius: var(--radius-6);
	background: var(--gray-5);
	color: var(--color);
	z-index: 1;
}
