.bills {
	--card-inset: 25px;

	height: 100%;
	position: relative;
	margin: var(--card-inset);
}

.circle {
	display: flex;
	padding: var(--space-3);
	border-radius: var(--radius-6);
	background: var(--gray-5);
	color: var(--color);
	z-index: 1;
}
