.radix-themes {
	/* ORIGINAL */
	color: var(--gray-12);

  --color-overlay: var(--gray-a8);
  --color-panel-solid: white;
  --color-panel-translucent: rgba(255, 255, 255, 0.8);
  --color-surface: rgba(255, 255, 255, 0.9);
}

:is(.dark, .dark-theme),
:is(.dark, .dark-theme) .radix-themes:not(.light, .light-theme) {

	/* Overlay would be the transparent background of a modal for example */
  --color-overlay: rgba(0, 0, 0, 0.75);

	/* panel-solid would be the color of most UI elements like dialogs and dropdowns */
  --color-panel-solid: var(--gray-2);
  --color-panel-translucent: var(--gray-2-translucent);
  --color-surface: rgba(0, 0, 0, 0.25);

	/* page-background would be the background of the html */
	--color-page-background: blue;
}
