.root {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	position: absolute;
	width: 100%;
	bottom: 0;
	pointer-events: none;
	background: transparent;
	padding: 0 var(--space-3);
	gap: var(--space-2);
}

.trigger {
	display: flex;
	position: relative;
	pointer-events: auto;
	background: var(--accent-panel);
	box-shadow: var(--shadow-3);
	border-bottom: none;
	border-radius: var(--radius-4) var(--radius-4) 0 0;
	cursor: pointer;
}

.draft {
	display: flex;
	position: relative;
	flex-direction: column;
	overflow: hidden !important;
	gap: var(--space-2);
	width: calc(350px * var(--scaling));
	height: calc(450px * var(--scaling));
	background: var(--color-panel) !important;
}

.tab {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius-3);
	padding: var(--space-3);
	text-transform: uppercase;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-2);
	&:hover {
		background: var(--accent-a3);
	}
}

.tabTitle {
	width: 90px;
	max-width: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.label {
	text-transform: uppercase;
}

.type {
	display: flex;
	border-radius: var(--radius-3);
	padding: var(--space-3) var(--space-5);
	border: 1.5px solid var(--gray-5);
	gap: var(--space-5);
	cursor: pointer;
	font-family: dinn;
	& > svg:first-child {
		color: var(--jade-9);
	}

	& > div > svg {
		color: var(--gray-9);
	}

	&:hover {
		background: var(--accent-5);
	}
}

.description {
	display: flex;
	flex: 1;
	border-radius: var(--radius-2);
	transition-duration: 0.2s;

	& > div:last-of-type {
		display: flex;
		padding: 0;
		margin: 0;
		background: transparent;
		border: none;
	}

	&:hover {
		background: var(--accent-5);
	}
}

.active {
	background: var(--accent-5);
}

.container {
	background: var(--accent-4);
	border-radius: var(--radius-3);
}

.list {
	display: flex;
	flex-direction: column;
	padding: var(--space-1);
	border-radius: var(--radius-3);
	gap: var(--space-1);
}

.memberCard {
	transition-duration: 0.1s;
	/* cursor: pointer; */
}

.memberSelected {
	background: var(--green-a3);
	border-radius: var(--radius-3);
}

.switch {
	display: flex;
	justify-content: center;
	font-size: 20px;
	align-items: center;
	border-radius: var(--radius-3);
	font-weight: 700;
	width: calc(32px * var(--scaling));
	height: calc(32px * var(--scaling));
	z-index: 1;
	background: var(--blue-a3);
	color: var(--blue-a11);
	cursor: pointer;
}

.switcher {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	gap: var(--space-2);
	justify-content: space-between;
	align-items: flex-end;
}
