.root {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	position: absolute;
	width: 100%;
	bottom: 0;
	pointer-events: none;
	background: transparent;
	padding: 0 var(--space-3);
	gap: var(--space-2);
}

.trigger {
	display: flex;
	position: relative;
	pointer-events: auto;
	background: var(--accent-1);
	box-shadow: var(--shadow-4);
	/* border: 1.5px solid var(--accent-6); */
	border-bottom: none;
	border-radius: var(--radius-4) var(--radius-4) 0 0;
	cursor: pointer;
	z-index: 100;
}

.draft {
	width: 400px;
	height: 500px;
	background: var(--accent-1);
}

.tab {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius-3);
	padding: var(--space-3);
	text-transform: uppercase;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-2);
	&:hover {
		background: var(--accent-a3);
	}
}

.tabTitle {
	width: 90px;
	max-width: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.label {
	text-transform: uppercase;
}

.type {
	display: flex;
	border-radius: var(--radius-3);
	padding: var(--space-3) var(--space-5);
	border: 1.5px solid var(--gray-5);
	gap: var(--space-5);
	cursor: pointer;
	font-family: dinn;
	& > svg:first-child {
		color: var(--jade-9);
	}

	& > div > svg {
		color: var(--gray-9);
	}

	&:hover {
		background: var(--accent-5);
	}
}

.description {
	display: flex;
	flex: 1;
	border-radius: var(--radius-2);
	transition-duration: 0.2s;

	& > div:last-of-type {
		display: flex;
		padding: 0;
		margin: 0;
		background: transparent;
		border: none;
	}

	&:hover {
		background: var(--accent-5);
	}
}

.active {
	background: var(--accent-5);
}

.list {
	background: var(--accent-a3);
	border-radius: var(--radius-3);
}
