.root {
  display: flex;
  flex-direction: row;
	gap: 20px;
	padding: 10px 0px 10px 15px;
}

.header {
  display: flex;
  flex-direction: column;
	justify-content: center;
	white-space: nowrap;
}

.status {
	display: inline-flex;
	align-items: center;
	/* word-wrap: normal;
	white-space: normal; */
	gap: 5px;
	overflow: auto;
	color: var(--secondary-text);
}

.indicator {
	display: inline-flex;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: var(--green-9);
	margin-left: -12px;
	border: 2px solid var(--color-panel);
}

.avatarContainer {
	display: flex;
	align-items: flex-end;
}
