.userList {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px 0px 20px 10px;
}

.userList > h3 {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0px 15px;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}
