.root {
	display: flex;
	flex-direction: column;
	position: relative;
	grid-area: main;
	width: 100vw;
	height: 100vh;
	flex-grow: 1;
	overflow: hidden;
}

.main {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-template-rows: 70px calc(100vh - 70px);
	grid-template-areas:
		'header header header'
		'left main right';
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* background: var(--accent-6); */
	padding-bottom: 15px;
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	/* background: var(--color-panel); */
}

.header {
	display: flex;
	height: 70px;
  background-color: var(--color-panel) !important;
	grid-area: header;
}
