.root {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	--header-height: 64px;
	--layout-background: var(--accent-panel);
}

.main {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
	grid-template-areas:
		'header header header'
		'left main right';
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	grid-area: main;
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	box-shadow: 0 0 0 300vh var(--layout-background);
	padding: 0px 10px;
}

.container {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.optionMenu {
	display: flex;
	flex: 1;
	flex-direction: column;
	border-radius: 16px;
}

.header {
	display: flex;
	height: 64px;
  background-color: var(--layout-background);
	grid-area: header;
}

.content {
	display: flex;
	flex-direction: column;
	gap: "10px";
}
