.main {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.root {
	display: flex;
	flex-direction: column;
	background: var(--gray8);
	transition: width 0.3s cubic-bezier(0.16, 1, 0.3, 1);
	flex: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 15px;
	background: white;
	width: 100%;
	border-radius: 16px 16px 0px 0px;
	flex: 1;
	margin: 0 auto;
}

.nav {
	display: flex;
	padding: 10px;

	background: var(--gray8);
}
