.root {
	overflow: hidden;
}

.label {
	text-transform: uppercase;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	height: var(--space-5);
	gap: var(--space-2);
	border-radius: var(--radius-2);
	padding: var(--space-1);
	&:hover {
		background: var(--accent-7);
	}
}
