.root {
	overflow: hidden;
}

.label {
	text-transform: uppercase;
}

.header {
	display: flex;
	gap: var(--space-1);
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	border-radius: var(--radius-2);

	&:hover {
		background: var(--accent-7);
	}
}
