.sidePanel {
	display: flex;
	position: relative;
	height: 100%;
	--nav-width-collapsed: 72px;
	--nav-width-expanded: 320px;

	--nav-width: var(--nav-width-collapsed);
	/* --nav-bezier: cubic-bezier(0.3, 1, 0.3, 1); */

	z-index: 100;
	width: var(--nav-width-collapsed);

	&[data-expanded='true'] {
		--nav-width: var(--nav-width-expanded);
		width: var(--nav-width);
	}

	&:hover:not([data-expanded="true"]) {
		--nav-width: var(--nav-width-expanded);
		--nav-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
			hsla(210, 23%, 45%, 0.2) 0px 10px 20px -15px;
	}
}

/* @media (min-width: 1000px) {
	.sidePanel {
		--nav-width: var(--nav-width-expanded);
		width: var(--nav-width);
	}
} */

.wrapper {
	position: absolute !important;
	width: var(--nav-width);
	height: 100%;
	overflow: hidden;
	transition: width 0.2s ease-in;

	&[data-direction='left'] {
		right: 0;
	}
	&[data-direction='right'] {
		left: 0;
	}
}

.collapse {
	display: flex;
	align-items: center;
	gap: 10px;
	border: none;
	flex-direction: row;
	color: var(--gray-a11);
	background: transparent;
	padding: var(--space-2);
	margin: var(--space-3) 19.5px;
	border-radius: var(--radius-6);

	cursor: pointer;
	transition-duration: 0.2s;
}
.collapse[data-expand='left'] {
	justify-content: flex-end;
}
.collapse[data-expand='right'] {
	justify-content: flex-start;
}
.collapse > svg {
	border-radius: 50%;
	overflow: visible;
	color: var(--text);
	transition-duration: 0.3s;
}

.collapse > span {
	overflow: hidden;
}

.list {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 10px;
	width: 52px;
	overflow: auto;
	overflow-x: hidden;
	padding-top: var(--space-4);
}

.listItem {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	transition: all 0.1s linear;
	border-left: none;
	height: 48px;
	color: var(--color);
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 700;
	white-space: nowrap;
	background: var(--accent-a4);
	border-radius: var(--radius-4);

	& > span {
		transition: color 0.1s linear;
		z-index: 2;
		overflow: hidden;
	}
	& > svg {
		z-index: 2;
		transition: transform 0.1s linear;
		overflow: visible;
	}
	&[data-state='open'] {
		color: white;
	}
}

.indicator {
	display: flex;
	justify-content: center;
	overflow: hidden;
	z-index: 1;
	background-color: var(--accent-9);
	border-radius: 12px;
	transition: width, transform 150ms ease;
	border-left: none;
	pointer-events: none;
}

.listRoot {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--space-2);
	background: var(--accent-surface);
	border-radius: var(--radius-5);
}
